<h1>Sign Up</h1>
			<%= form_for("user", :url => user_session_path) do |f| %>
			<%= devise_error_messages! %>
			<%= f.label :email %><br>
			<%= f.email_field :email, :autofocus => true %>

			<%= f.label :password %><br>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation %><br/>
			<%= f.password_field :password_confirmation %><br>
			<%= f.submit "Sign up" %>
			<% end %>