<% @title = "About Us - Odd Job Board for Boston Area Students" %>

<div class = "container">
	<div class = "row">
		<div class = "span12">

			<h1>About us</h1>
		</div>
	</div>
	<div class = "row" id = "about1">
		<div class = "span6">
			<%= image_tag("me.jpg", :size => "350x350", :class => "img img-circle") %>
		</div>
		<div class = "span6">
			<h3>This is me,</h3> <p> Alex Wheeler.  I am a Boston University Student and I created OddJobble.
				<b>OddJobble is an odd-job board connecting Boston area students with residents that need any sort of task completed.</p>
			
		</div>
	</div>

	<div class = "row" id = "about2">
			<div class = "span6">
					<h3>Why OddJobble?</h3>
				<p>There is no doubt life is expensive.  This statement is even more true for college students.  With such volatile schedules it is very difficult for students to hold jobs.  We're never sure when we will have an assignemnt, exam, or event coming up.  Because of this it is very difficult to hold a stable job.  If we do take a part-time job it is usually doing some menial work that doesn't require us to use our individual skills anyways.  That is why I created this service.</b></p>
			</div>
			<div class = "span6">
				<%= image_tag("rake.jpg", :size => "350x350", :class => "img img-circle") %>
				
			</div>
		</div>
	<div class = "row" id = "about3">
		<div class = "span6">
			<%= image_tag("college-map.jpg", :size => "350x350", :class => "img img-rounded") %>

		</div>
		<div class = "span6">
			<h3>Our Talent Pool</h3>
			<p>Boston has over 250,000 college students making it one of the most talented cities in the world.  For any task, no matter how simple or complicated, there is a student with a solution.</p>
			Our Board covers the following categories:
			<ul>
			<li>Yardwork</li>
			<li>Wed Development</li>
			<li>Babysitting </li>
			<li>Moving</li>
			<li>House Cleaning</li>
			<li>Party Help/Catering</li>
			<li>Painting</li>
			<li>Research</li>
		</ul>

		</div>
	</div>
	<div class = "row" id = "about4">
		<div class = "span6">
			<h3>Let's Chat!</h3>
			<p>Have a question/comment? Want to meet our team?</p>
			<p>Looking to get involved?</p>
			<p>Email: <b>oddjobbleboston@gmail.com</b></p>
			<p>Email Alex personally: <b>awheeler@bu.edu</b></p>
			<%= render "shared/tweet-oddjobble" %> <br>
			<%= render "shared/tweet-alex" %>
		</div>
	</div>
  </div>
</div>