<% @title = "About Us - Odd Job Board for Boston Area Students" %>

<div class = "container">
	<div class = "row">
		<div class = "span12">

			<h1>About us</h1>
		</div>
	</div>
	<div class = "row" id = "about1">
		<div class = "span6">
			<%= image_tag("me.jpg", :size => "350x350", :class => "img img-circle") %>
		</div>
		<div class = "span6">
			<h3>Nice to meet you,</h3> <p> My name is Alex Wheeler.  I am a Boston University Student and I created OddJobble.
				<b>OddJobble</b> is an odd-job board connecting Boston area students with residents that need any sort of task completed.</p>
			
		</div>
	</div>

	<div class = "row" id = "about2">
			<div class = "span6">
					<h3>Why OddJobble?</h3>
				<p>There is no doubt life is expensive.  This is even more true for college students.  We're never sure when we will have an assignemnt, an exam, or an event coming up, making it very diffucult to hold a steady job. If we do take a part-time job it usually involves some menial work that doesn't require us to use our individual skills.  That is why I created this service.</b></p>
			</div>
			<div class = "span6">
				<%= image_tag("rake.jpg", :size => "350x350", :class => "img img-circle") %>
				
			</div>
		</div>
	<div class = "row" id = "about3">
		<div class = "span6">
			<%= image_tag("college-map.jpg", :size => "350x350", :class => "img img-rounded") %>

		</div>
		<div class = "span6">
			<h3>Our Talent Pool</h3>
			<p>Boston has over 250,000 college students making it one of the most talented cities in the world.  For any task, no matter how simple or complicated, there is a student with a solution.</p>
			Our board covers the following categories:
			<ul>
			<li>Yardwork</li>
			<li>Wed Development</li>
			<li>Babysitting </li>
			<li>Moving</li>
			<li>House Cleaning</li>
			<li>Party Help/Catering</li>
			<li>Painting</li>
			<li>Research</li>
		</ul>

		</div>
	</div>
	<div class = "row" id = "about4">
		<div class = "span6">
			<h3>Let's Chat!</h3>
			<p>Have a question/comment? Want to meet our team?</p>
			<p>Looking to get involved?</p>
			<p>Email: <b>oddjobbleboston@gmail.com</b></p>
			<p>Email Alex personally: <b>awheeler@bu.edu</b></p>
			<%= render "shared/tweet-oddjobble" %> <br>
			<%= render "shared/tweet-alex" %>
		</div>
	</div>
  </div>

<div class = "container">
	<div class = "row">
		<div class = "span12">
			<h1 class = "text-center"><i>Getting Started</i></h1>
		</div>
	</div>
	<div class = "row" id = "row3">
		<div class = "span6">
			<h4>1. Create your acccount.</h4>
			<p>Its free</p>
			<h4>2. Fill out our easy-to-complete form.</h4>
			<p>choose from  8 categories:</p>
			<ul>
				<li>Child Care</li>
				<li>General</li>
				<li>Moving</li>
				<li>Research/Focus Group</li>
				<li>Computer Help</li>
				<li>Home Services</li>
				<li>Party Help/Catering</li>
				<li>Yardwork</li>
			</ul>
			<p>You have the power - choose the price, hours, start date, etc.</p>
		</div>
		<div class = "span6">
			<%= image_tag("form-ex2.jpg") %>
		</div>
	</div>
</div>

<div class = "container">
	<div class = "row" id = "row4">
		<div class = "span6">
			<h4>3. Job listings automatically placed into respective category for easier searching. </h4>
			<p>For example: A computer science major can easily search the 'Computer Help' category, ensuring you receieve the best help possible.</p>
		</div>
		<div class = "span6">
			<p class = "text-center"><%= image_tag("job-listing.jpg") %></p>
		</div>
	</div>
</div>	
<div class = "container" id = "row5">
	<div class = "row">
		<div class = "span6">
			<h4>4. Students choose jobs they feel they are most qualified for.</h4>
			<p>Students contact you to arrange time and location.</p>
		</div>
		<div class = "span6">
			<p class = "text-center"><%= image_tag("job.jpg") %></p>
		</div>
	</div>
</div>

<div class = "container">
	<div class = "row" id = "row6">
		<div class = "span4">
			<!-- placeholder -->
		</div>
		<div class = "span4">
			<div class = "text-center">
				<%= button_to 'Create your free account', home_path, :class => "btn btn-large btn-success btn-block" %>
			</div>
		</div>
	</div>
</div>

