
<div class = "row" id = "categories">
	<div class = "span6">
		<p class = "text-right"><%= image_tag('painter.jpg') %></p>
	</div>
	<div class = "span4">
		<%= link_to 'Child Care', childcare_path, :class => "btn btn-large btn-block" %>
		<%= link_to 'Computer', computer_path, :class => "btn btn-large btn-block" %>
		<%= link_to 'General', general_path, :class => "btn btn-large btn-block" %>
		<%= link_to 'Home Services', '/home-services', :class => "btn btn-large btn-block" %>
		<%= link_to 'Moving', moving_path, :class => "btn btn-large btn-block" %>
		<%= link_to 'Party Help/Catering', '/party-help-catering', :class => "btn btn-large btn-block" %>
		<%= link_to 'Research/Focus Group', '/research-focus-group', :class => "btn btn-large btn-block" %>
  </tr>
</div>
</div>
