<% @title = "Hire Boston Students for Odd Jobs" %>	

	<div id = "login-bar">
		<div class = "container">
				<div class = "row">
					<div class = "span12">
						<% if user_signed_in? == false && student_signed_in? == false %>
						<div class = "text-right"><%= link_to "Student Sign In", new_student_session_path %></div>
						<div class = "text-right"><%= link_to "Employer Sign In", new_user_session_path %></div>
						<% end %>
					</div>
				</div>
		</div>
	</div>
<div class = "main-content">
	<div class = "row" id = "main-body">
	<div class = "container">
			<div class = "row"> 
				<div class = "span12" id = "content">
					<h1 class = "text-center">Hire Boston Students for Odd Jobs</h1>
				</div>
			</div>
				
			 <div class = "row">
			   <div class = "span3 offset3">
			   	<br>
			 	 <%= link_to "Post a Job. It's Free!", new_user_registration_path, :class => 'btn btn-large btn-primary text-center' %>
				 </div>
			 	<br>
			 	 <div class = "span3">
			   	 	<%= link_to "Need a job? Sign up!", new_student_registration_path, :class => 'btn btn-large btn-success text-center' %>
				 </div>
				
			 </div>
		</div>
	</div>

	<div class = "container">
	<div class = "row">
		<div class = "span4">
			<h2>Our Community</h2>
			<p>OddJobble is a job board connecting local university students with Boston/Cambridge residents who need odd jobs completed.  These jobs typically take anywhere from an hour to a weekend to complete.  <%= link_to "learn more", about_path %></p>
		</div>
		<div class = "span4">
			<h2>Built by Students</h2>
			<p>OddJobble was created and is currently maintained by Boston-area students.  We are a group of students dedicated to maximizing the potential of Boston's university students in assisting their communities. <%= link_to "learn more", about_path %></p>
		</div>
		<div class = "span4">
			<h2>Trusted and Secure</h2>
			<p>OddJobble only permits local university students to use our job board service.  Furthermore, only skilled students interested in your job are able to view employer contact information.  <%= link_to "learn more", about_path %></p>
		</div>
	</div>
	<div class = "row" id = "third-row-home-page">
		<div class = "span6">
			<h2>Boston's Student Talent</h2>
		</div>
		<div class = "span6">
			<h2>Build Your Community</h2>
		</div>
	</div>
	<div class = "row" id = "talent-list">
		<div class = "span3">
		<ul>
			<li>Yardwork</li>
			<li>Wed Development</li>
			<li>Babysitting </li>
			<li>Moving</li>
		</div>
		<div class = "span3">
		
			<li>House Cleaning</li>
			<li>Party Help/Catering</li>
			<li>Painting</li>
			<li>Research</li>
		</ul>
	</div>
		
		<div class = "span6">
			<p>OddJobble has a much larger vision than to simply provide local residents with quality help, while enabling college students to make a little extra money.  Being Boston-area college students ourselves we are well aware of all of the awesome opporunities this city has given us.  OddJobble is our way of giving back to the greatest city in America.  But don't think that our students are the only ones doing their part.  You, as the employer, are helping in more ways than you think.  By using OddJobble you are doing more than accomplishing a task you need completed.  You are actively stimulating the student economy that helps drive our awesome city! </p>
		</div>
	</div>
</div>
</div>


