	

	<div class = "row" id = "login-bar">
		<div class = "container">
				<div class = "span12">
					<div class = "text-right"><%= link_to "Student Sign In", new_student_session_path %></div>
					<div class = "text-right"><%= link_to "Emoloyer Sign In", new_user_session_path %></div>
				</div>
		</div>
	</div>
<div class = "main-content">
	<div class = "row" id = "main-body">
	<div class = "container">
			 <div class = "span12" id = "content">
			   <h1 class = "text-center">Hire Boston students for odd jobs</h1>
			 </div>
				
			 <div class = "row">
			   <div class = "span3 offset3">
			   	<br>
			   	<% if user_signed_in? %>
			   	 <%= link_to "Post a Job. It's Free!", new_job_path, :class => 'btn btn-large btn-primary text-center' %>
			 	 <% else %>
			 	 <%= link_to "Post a Job. It's Free!", new_user_registration_path, :class => 'btn btn-large btn-primary text-center' %>
			 	
			 	 <% end %>

				 </div>
			 	<br>
			 	 <div class = "span3">
			   	 	<%= link_to "Need a job? Sign up!", new_student_registration_path, :class => 'btn btn-large btn-success text-center' %>
				 </div>
			 </div>
		</div>
	</div>

	<hr>


<div class = "container">
	<div class = "row">
		<div class = "span4">
			<h2>Our Community</h2>
			<p>NAME is a job board connecting local university students with Boston/Cambridge residents who need odd jobs completed.  These jobs typically take anywhere from an hour to a weekend to complete.  <%= link_to "learn more", root_path %></p>
		</div>
		<div class = "span4">
			<h2>Built By Students</h2>
			<p>NAME was created and is currently maintained by Boston-area students.  We are a group of students dedicated to maximizing the potential of Boston's university students in assisting their communities. <%= link_to "learn more", root_path %></p>
		</div>
		<div class = "span4">
			<h2>Trusted and Secure</h2>
			<p>Only local university students are permitted to use our site.  Furthermore, only students interested in your job are able to view contact information. Need a little more text to match with others <%= link_to "learn more", root_path %></p>
		</div>
	</div>
	<div class = "row" id = "third-row-home-page">
		<div class = "span6">
			<h2>Boston's student talent</h2>
		</div>
		<div class = "span6">
			<h2>put something here too dawg</h2>
		</div>
	</div>
	<div class = "row" id = "talent-list">
		<div class = "span3">
		<ul>
			<li>Yardwork</li>
			<li>Wed Development</li>
			<li>Babyitting </li>
			<li>Moving</li>
		</div>
		<div class = "span3">
		
			<li>House Cleaning</li>
			<li>Party Help/Catering</li>
			<li>Painting</li>
			<li>Research</li>
		</ul>
	</div>
		
		<div class = "span6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sequi ipsam doloremque maiores autem. Sapiente, eveniet, magnam obcaecati cupiditate voluptatibus unde. Quos, voluptatem, autem error hic modi fuga et. Eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, atque, corporis, totam vitae omnis dolor error suscipit temporibus ipsam recusandae magni et. Illo, accusantium incidunt laborum veritatis id eum fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, perspiciatis, vero, cumque, natus eos placeat earum sint sit ratione consectetur magnam recusandae dolore dolorem harum ipsum modi aperiam illo suscipit!</p>
		</div>
	</div>
</div>
</div>



