
<div class = "landing-page-picture">
	<div class = "container">
		<div class = "row">
			<div class = "span12" id = "home-border">
				<p class = "text-center" id = "home-page-header">Connect with Boston's <b>250,000+</b> students <b>all ready</b> to get to <b>work</b></p>
			</div>
		</div>
		<div class = "row">
			<div class = "span4 offset4">
				<div class = "text-center" id = "home-button"><%= button_to 'Create your free account', home_path, :class => "btn btn-large btn-success btn-block" %></div>
			</div>
		</div>
	</div>
</div>


<!-- INFORMATION -->
<div class = "landing-page-first-row">
	<div class = "container">
		<div class = "row" id = "row2">
			<div class = "span4">
				<h2>Our Service</h2>
				<p>NAME is a job board connecting local university students with Boston/Cambridge residents who need odd jobs completed.  These jobs typically take anywhere from an hour to a weekend to complete.  <%= link_to "learn more", root_path %></p>
			</div>
			<div class = "span4">
				<h2>Built By Students</h2>
				<p>NAME was created and is currently maintained by Boston-area students.  We are a group of students dedicated to maximizing the potential of Boston's university students in assisting their communities. <%= link_to "learn more", root_path %></p>
			</div>
			<div class = "span4">
				<h2>Trusted and Secure</h2>
				<p>Only local university students are permitted to use our site.  Furthermore, only students interested in your job are able to view contact information. Need a little more text to match with others <%= link_to "learn more", root_path %></p>
			</div>
		</div>
	</div>
</div>

<div class = "container">
	<div class = "row">
		<div class = "span12">
			<h1 class = "text-center"><i>Getting Started</i></h1>
		</div>
	</div>
	<div class = "row" id = "row3">
		<div class = "span6">
			<h4>1. Create your acccount.</h4>
			<p>Its free</p>
			<h4>2. Fill out our easy-to-complete form.</h4>
			<p>choose from  8 categories:</p>
			<ul>
				<li>Child Care</li>
				<li>General</li>
				<li>Moving</li>
				<li>Research/Focus Group</li>
				<li>Computer Help</li>
				<li>Home Services</li>
				<li>Party Help/Catering</li>
				<li>Yardwork</li>
			</ul>
			<p>You have the power - choose the price, hours, start date, etc.</p>
		</div>
		<div class = "span6">
			<%= image_tag("form-ex.jpg") %>
		</div>
	</div>
</div>

<div class = "container">
	<div class = "row" id = "row4">
		<div class = "span6">
			<h4>3. Job listings automatically placed into respective category for easier searching. </h4>
			<p>For example: A computer science major can easily search the 'Computer Help' category, ensuring you receieve the best help possible.</p>
		</div>
		<div class = "span6">
			<p class = "text-center"><%= image_tag("job-listing.jpg") %></p>
		</div>
	</div>
</div>	
<div class = "container" id = "row5">
	<div class = "row">
		<div class = "span6">
			<h4>4. Students choose jobs they feel they are most qualified for.</h4>
			<p>Students contact you to arrange time and location.</p>
		</div>
		<div class = "span6">
			<p class = "text-center"><%= image_tag("job.jpg") %></p>
		</div>
	</div>
</div>

<div class = "container">
	<div class = "row" id = "row6">
		<div class = "span4">
			<!-- placeholder -->
		</div>
		<div class = "span4">
			<div class = "text-center">
				<%= button_to 'Create your free account', home_path, :class => "btn btn-large btn-success btn-block" %>
			</div>
		</div>
	</div>
</div>


		




