<% @title = params[:category] %>
<br>
<h2 class = "text-center"><%= params[:category] %></h2>
<div class = "container">	
	<table class = "table table-bordered">
		<tr>
			<thead>
				<tr>
					<th>Title</th>
					<th>Pay</th>
					<th>Location</th>
					<th>Needed</th>
					<th>Start Date</th>
				</tr>
			</thead>
			<% @jobs.each do |j| %>
			<td><%=  link_to j.title, j %></td>
			<td><%=  j.pay %> <%= j.pay_type %></td>
			<td><%=  j.location %></td>
			<td><%=  j.needed %></td>
			<td><%= j.start_date %></td>
		</tr>
		<% end  %>
	</table>

	<%= button_to "Back to categories", categories_path, :class => "btn" %>
</div>