<% @title = @job.title.humanize %>
<div class = "container">
	<div class = "row" id = "show-row">
		<div class = "span">
		<b><p>Category:</b> 
		<%= @job.category %></p>
		<b><p>Title:</b>
		<%= @job.title %></p>
		<b><p>Description:</b>
		<%= @job.description %></p>
		<b><p>Location:</b>
		<%= @job.location %></p>
		<b><p>Needed</b>
		<%= @job.needed %></p>
		<b><p>Pay:</b>
		<%= @job.pay %> <%= @job.pay_type %> </p>
		<b><p>Start Date:</b>
		<%= @job.start_date %></p>
		<b><p>Hours:</b>
		<%= @job.hours %></p>
		<b><p>Job Contact ID:</b>
		<%= 27.to_s + @job.id.to_s  %> (email EMAIL@EMAIL.COM this id number and we will securely email you the employer's contact information)</p>
		<%= button_to "back", jobs_path, :class => 'btn btn-success' %>
		<% if current_user.id == @job.user_id %>
		<%= button_to "Delete", @job, :method => "delete", :confirm =>  "Are you sure?", :class => "btn btn-danger" %>
		<% end %>

		</div>
	</div>
</div>


