<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/home">OddJobble</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
          <ul class="nav">
        <li>
           <%= link_to "Home", home_path %>
        </li>
        <li class = "divider-vertical"></li>
        <li>
           <%= link_to "About Us", about_path %>
        </li>
        <li class = "divider-vertical"></li>
        
        <li>
            <%= link_to 'Categories', categories_path %>
        </li>
        <li class = "divider-vertical"></li>
        
        <li>
            <%= link_to 'Post a Job', new_job_path %>
        </li>
        <li class = "divider-vertical"></li>
      
        <li>
          <%= render "devise/shared/logout" %>
        </li>
        <li class = "disabled">
          <% if user_signed_in? %>
         <%= link_to "Signed in as: #{current_user.email}"%>  
          <% end %> 
        </li>
        <li class = "divider-vertical"></li>
    </ul>
    </div>
  </div>
</div>