<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
   
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/home">OddJobble</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
          <ul class="nav">
        <li>
           <%= link_to "Home", home_path %>
        </li>
        <li class = "divider-vertical"></li>
        
        <li>
            <%= link_to 'Categories', categories_path %>
        </li>
        <li class = "divider-vertical"></li>
        
        <li>
            <%= link_to 'Post a Job', new_job_path %>
        </li>
        <li class = "divider-vertical"></li>
      
        <li>
          <%= render "devise/shared/logout" %>
        </li>
        <li class = "disabled">
          <% if user_signed_in? %>
         <%= link_to "Signed in as: #{current_user.email}"%>  
          <% end %> 
        </li>
        <li class = "divider-vertical"></li>


    </ul>
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>